body {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-light-gray);
}

#content {
  max-width: 90vw;
  
  .card-car {
    padding: 50px;
  }

  .model-car {
    margin-top: 20px;
    text-transform: uppercase;
    font: var(--text-headings);
    color: var(--Very-light-gray);
  }

  .sedan-model {
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .button-car {
      color: var(--Bright-orange);
    }

    .button-car:hover {
      background-color: var(--Bright-orange);
    }
  }

  .suv-model {
    background-color: var(--Dark-cyan);

    .button-car {
      color: var(--Dark-cyan);
    }

    .button-car:hover {
      background-color: var(--Dark-cyan);
    }
  }

  .luxury-model {
    background-color: var(--Very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .button-car {
      color: var(--Very-dark-cyan);
    }

    .button-car:hover {
      background-color: var(--Very-dark-cyan);
    }
  }

  .description-car {
    color: var(--Transparent-white);
    margin-block: 20px;
  }

  .description-car, .button-car {
    font: var(--text-paragraph);
  }

  .button-car {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--Very-light-gray);
    border: 2px solid transparent;
  }

  .button-car:hover {
    color: var(--Transparent-white);
    border-color: var(--Transparent-white);
  }
}

@media screen and (min-width: 996px) {
  #content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 0;

    .card-car {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .sedan-model {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }

    .luxury-model {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }

    img {
      max-width: 60px;
    }

    .model-car {
      margin-top: 30px;
      font-size: clamp(3rem, 2.8rem + 1.1662vw, 3.4rem);
    }

    .description-car {
      margin-bottom: 60px;
      font-size: clamp(1.5rem, 1.3rem + 1.1662vw, 1.9rem);
    }
    
    .button-car {
      width: 175px;
      font-size: clamp(1.5rem, 1.3rem + 1.1662vw, 1.9rem);
      margin-top: auto;
    }
  }
}